<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Home</a>
<button class="navbar-toggler" type="button" data-testid="toggle-btn" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link" [attr.data-testid]="item.testId" routerLinkActive="active-link"
             [routerLink]="item.path">{{item.title}}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="logout" class="nav-link" data-testid="nav-logout" (click)="logout()" >Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
