<div class="card mb-2 mt-1" style="max-width: 540px">
  <div class="row no-gutters justify-content-center">
    <div class="col-3 d-flex">
      <img
        *ngIf="booking.bookingStatus === 'EXPIRED'"
        src="../../../../assets/expired.png"
        class="card-img"
        style="margin: auto"
        alt="car"
      />

      <img
        *ngIf="booking.bookingStatus === 'BOOKED'"
        src="../../../../assets/booked.png"
        class="card-img"
        style="margin: auto"
        alt="car"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card ID: {{ booking.carId }}</h5>
        <hr/>

        <p class="card-text mt-2">
          {{ booking.bookedFrom | date : "longDate" }} -
          {{ booking.bookedUntil | date : "longDate" }}
        </p>
        <p class="card-text"><span class="fw-bold">Booking days:</span> {{getTimeDuration() | number:'1.0-0'}}</p>
        <hr/>
        <p class="card-text mt-0">
          <span class="fw-bold">Total amount:</span>
          {{ booking.price | currency : booking.currency }}
        </p>
      </div>
    </div>
  </div>
</div>
