<div class="container-fluid mt-4">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="row mb-4">
      <h1>Welcome to Car Booking Service</h1>
    </div>

    <div class="row" style="min-width: 100%">
      <app-maps></app-maps>
    </div>

    <div class="row mb-4 mt-4">
      <h2>Select your preferred time range</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <app-date-picker (startDate)="setStartDate($event)"
                         (endDate)="setEndDate($event)">
        </app-date-picker>
      </div>
      <div class="col-12 mt-3 ">
        <button class="btn btn-primary" style="min-width: 300px" (click)="onSearch()">Show available cars</button>
      </div>
    </div>
  </div>
</div>
