<div class="container" style="margin-top: 1rem">

  <div class="row">
    <h3>Current bookings</h3>
    <div class="col-6 justify-content-center"
         *ngFor="let booking of filterBookings('BOOKED')">
      <app-booking-card style="margin: 1rem" [booking]="booking"></app-booking-card>
    </div>
  </div>

  <div class="row">
    <h3>Expired Bookings</h3>
    <div class="col-6 justify-content-center" *ngFor="let booking of filterBookings('EXPIRED')">
      <app-booking-card style="margin: 1rem" [booking]="booking"></app-booking-card>
    </div>
  </div>


  <div class="container mt-1" *ngIf="bookings.length === 0">
    <div class="row">
      <h1 class="text-center">No Bookings found</h1>
    </div>
  </div>
</div>
