<div class="card" style="width: 18rem">
  <img
    src="https://pictures.dealer.com/c/costamesacadillac/0679/a976281f56ff06d46dc390283aa14da6x.jpg?impolicy=downsize_bkpt&imdensity=1&w=520"
    class="card-img-top"
    alt="{{ car.brand }} {{ car.model }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
    <p class="card-text">Brand: {{ car.brand }}</p>
    <p class="card-text">Model: {{ car.model }}</p>
    <p class="card-text">Manufacture Year: {{ car.constructionYear }}</p>
    <p class="card-text"><b>Price:</b> {{ car.price | currency: car.currency }} / Day</p>
    <button (click)="selectCar()" style="float: right" class="btn btn-primary">
      Rent
    </button>
  </div>
</div>
