<div class="container-fluid center-screen">
  <div id="main-wrapper" class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card border-0">
          <div class="card-body p-0">
            <div class="row no-gutters">
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="mb-5">
                    <h3 class="h4 font-weight-bold text-theme" style="color: #5369f8">Login</h3>
                  </div>
                  <h6 class="h5 mb-0">Welcome back!</h6>
                  <p class="text-muted mt-2 mb-5">Enter your user name and password to access the best cars in the
                    world.</p>

                  <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="submitLogin()" >
                    <div class="form-group" style="text-align: left">
                      <label for="inputUserName">Username</label>
                      <input type="text" class="form-control" id="inputUserName" formControlName="username"
                             [ngClass]="{ 'is-invalid': loginForm.get('username')?.touched && loginForm.get('username')!!.errors, 'is-valid': loginForm.get('username')!!.valid }"
                      >
                      <div *ngIf="loginForm.get('username')!!.touched && loginForm.get('username')!!.errors"
                           class="invalid-feedback">
                        <div *ngIf="loginForm.get('username')!!.errors!!.hasOwnProperty('required')" id="err-username">Username is required!
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-5 mt-2" style="text-align: left">
                      <label for="inputPassword">Password</label>
                      <input type="password" class="form-control" id="inputPassword" formControlName="password"
                             [ngClass]="{ 'is-invalid': loginForm.get('password')!!.touched && loginForm.get('password')!!.errors, 'is-valid': loginForm.get('password')!!.valid }"
                      >
                      <div *ngIf="loginForm.get('password')!!.touched && loginForm.get('password')!!.errors"
                           class="invalid-feedback">
                        <div *ngIf="loginForm.get('password')!!.errors!!.hasOwnProperty('required')" id="err-password">Password is
                          required!
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-5">
                      <button type="submit" class="btn btn-theme form-control" id="login-btn" [disabled]="loginForm!!.invalid">Login</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-inline-block">
                <div class="logo rounded-right">
                  <div class="overlay rounded-right"></div>
                  <div class="logo-inner">
                    <h4 class="text-white mb-4">Welcome to Car Rental</h4>
                    <p class="lead text-white">"Where cars are still cars."</p>
                    <p>- Godfather (CEO)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--TODO: add register component-->
        <p class="text-muted text-center mt-3 mb-0">Don't have an account? Register <a
          href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener" class="text-primary ml-1">here</a>.
        </p>
      </div>
    </div>
  </div>
</div>
