<div class="details container">
  <div class="details__title row">
    <h1>{{ car.model }} {{ car.brand }}</h1>
  </div>
  <div class="row row-cols-auto details__row-1">
    <div class="col details__row-1__image">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GDp9uheqSrMQBmNhBUP1mwHaE0%26pid%3DApi&f=1&ipt=ee353c7a978b7ca256f57cae6ae51c4d5ca321133e806df55516214bfb5ba431&ipo=images"
        class="card-img-top"
        alt="{{ car.brand }} {{ car.model }}"
      />
    </div>
    <div class="col details__row-1__date-picker">
      <div class="row">
        <app-date-picker
          (startDate)="setStartDate($event)"
          (endDate)="setEndDate($event)"
        ></app-date-picker>
      </div>
      <div class="row details__row-1__day-price">
        <div class="col">Total Per Day:</div>
        <div class="col">{{ price }} {{ currencyService.getCurrentCurrency() }}</div>
      </div>
      <div class="row details__row-1__separator">
        <hr />
      </div>
      <div class="row details__row-1__total-price">
        <div class="col">Total:</div>
        <div style="display: flex" class="col">
          <div style="margin-right: 4px">
            {{ getTotalPrice() }}
          </div>
          <div>
            <div class="nav-item" ngbDropdown>
              <a
                class="nav-link"
                tabindex="0"
                ngbDropdownToggle
                id="navbarDropdown1"
                role="button"
              >
                {{ currencyService.getCurrentCurrency() }}
              </a>
              <div
                *ngIf="currencies$ | async as currencies"
                ngbDropdownMenu
                aria-labelledby="navbarDropdown1"
                class="dropdown-menu"
              >
                <p
                  ngbDropdownItem
                  *ngFor="let currency of currencies.currencies"
                  (click)="setCurrency(currency)"
                >
                  {{ currency }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row details__row-1__rsv-btn">
        <button
          class="btn btn-primary"
          data-testid="book-car-btn"
          [disabled]="!checkIfDatesAreValid()"
          (click)="bookCar()"
        >
          Book Car
        </button>
      </div>
    </div>
  </div>
  <div class="row details__row-2">
    <div class="col">
      <div class="row row-cols-2">
        <div class="col">
          <p class="card-text details__row-2__car-properties">Brand:</p>
        </div>
        <div class="col">
          <p class="card-text details__row-2__car-properties">
            {{ car.brand }}
          </p>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col">
          <p class="card-text details__row-2__car-properties">Model:</p>
        </div>
        <div class="col">
          <p class="card-text details__row-2__car-properties">
            {{ car.model }}
          </p>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col">
          <p class="card-text details__row-2__car-properties">
            Manufacture Year:
          </p>
        </div>
        <div class="col">
          <p class="card-text details__row-2__car-properties">
            {{ car.constructionYear }}
          </p>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col">
          <p class="card-text details__row-2__car-properties">Price per day:</p>
        </div>
        <div class="col">
          <p class="card-text details__row-2__car-properties">
            {{  price }} {{ currencyService.getCurrentCurrency() }}
          </p>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
